{
    "swagger": "2.0",
    "info": {
      "version": "1.0.0",
      "title": "Simple API",
      "description": "A simple API"
    },
    "host": "simple.api",
    "schemes": [
      "http"
    ],
    "paths": {
      "/": {
        "get": {
          "summary": "List all items",
          "operationId": "listItems",
          "tags": [
            "items"
          ],
          "responses": {
            "200": {
              "description": "An array of items",
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Item"
                }
              }
            },
            "default": {
              "description": "Unexpected error",
              "schema": {
                "$ref": "#/definitions/Error"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "Item": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],"properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            },
            "name": {
              "type": "string"
            }
          }
        },
        "Error": {
          "type": "object",
          "required": [
            "code",
            "message"
          ],
          "properties": {
            "code": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      }
    }